@model SafeListModel
@{
    ViewData["Title"] = "Kasa";
    Layout = "~/Views/Shared/_LayoutBackend.cshtml";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Kasalar</h1>
    <p class="mb-4">
        <a asp-action="Create" asp-controller="Safe" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-check"></i>
            </span>
            <span class="text">Yeni Ekle</span>
        </a>
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Kasalar</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Adı</th>
                            <th>Tarih</th>
                            <th>Durum</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Adı</th>
                            <th>Tarih</th>
                            <th>Durum</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var safe in Model.Safes)
                        {
                            <tr>
                                <td>@safe.Id</td>
                                <td class="tableList" data-href="/Safe/Edit/@safe.Id" style="cursor:pointer;">@safe.Name</td>
                                <td>@safe.CreateDate</td>
                                <td><button onclick="modelStatusChange(@safe.Id,@(safe.Status == true ? "1" : "0"))" class="btn btn-@(safe.Status ? "success" : "danger")">@(safe.Status ? "Aktif" : "Pasif")</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
@section scripts{
    <script src="~/backend/js/sweet/sweetalert.min.js" asp-append-version="true"></script>
    <script src="~/backend/js/demo/demo.js"></script>

    <script type="text/javascript">
        function modelStatusChange(id, status) {
            var status1 = status;
            if (status == 0) {
                status1 = "true";
            } else {
                status1 = "false";
            }
            debugger;
            $.ajax({
                type: "POST",
                url: "@Url.Action("StatusChange","Safe")",
                data: {
                    id: id,
                    status: status1
                },
                dataType: "json",
                success: function (result) {
                    if (result) {
                        swal("Başarılı!", "İşlem başarıyla kaydedilmiştir.", "success");
                        setTimeout(function () {
                            location.reload(true);
                        }, 2000);

                    } else {
                        swal("Hata!", "Sistemde bir hata oluştur", "error");
                    }
                },
                error: function (err) {
                    swal("Error!", err.responseText, "error");
                }
            });
        };

    </script>
}   